<div class="container">
    <div class="text-center">
        <p>
            This application is created by: Kaloyan Marshalov <br />
            Resources used for the front-end: <br />
                    <a href="/#!/">AngularJS</a><br />
                    <a href="/#!/">Twitter Bootstrap</a><br />
            Resources used for the back-end: <br />
                    <a href="/#!/">MongoDB and Mongoose</a><br />
                    <a href="/#!/">NodeJS</a><br />
                    <a href="/#!/">ExpressJS</a><br />
            Other: <br />
                    <a href="/#!/">MEANJS.org template</a><br />
                    <a href="/#!/">Visual Studio 2013</a><br />
        </p>
    </div>
</div>