<section data-ng-controller="ExercisesController" data-ng-init="findOne()">
	<!--<div class="page-header">
		<h1 data-ng-bind="exercise.name"></h1>
	</div>
	
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="article.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="article.user.displayName"></span>
		</em>
	</small>
	<p class="lead" data-ng-bind="article.content"></p>-->
    <div class="jumbotron container">
        <div class="row">
            <h1 data-ng-bind="exercise.name" class="text-center"></h1>
            <div class="col-md-7">
                <div class="pull-right">
                    <a class="btn btn-primary" href="/#!/exercises/{{exercise._id}}/edit">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-primary" data-ng-click="remove();">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>
                <div class="row exercise-properties">
                    <p>
                        <strong>Type</strong><span class="pull-right">{{exercise.type}}</span>
                    </p>
                    <p>
                        <strong>Difficulty</strong><span class="pull-right">{{exercise.difficulty}}</span>
                    </p>
                    <p>
                        <strong>Muscle groups</strong><span class="pull-right">{{exercise.muscleGroup | displayMuscles}}</span>
                    </p>
                    <p>
                        <strong>Equipment used</strong><span class="pull-right">{{exercise.equipment}}</span>
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <img ng-src="{{exercise.picture}}" src="" class="responsive-image" />
                    </div>
                    <div class="col-md-6">
                        <div id="player"></div>
                      <!--  <script>
                            var player;
                            function onYouTubeIframeAPIReady() {
                                player = new YT.Player('player', {
                                    height: '390',
                                    width: '640',
                                    videoId: 'M7lc1UVf-VE',
                                    events: {
                                        'onReady': onPlayerReady,
                                        'onStateChange': onPlayerStateChange
                                    }
                                });
                            }
                        </script>-->
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                Similar exercises here
            </div>
        </div>
    </div>
</section>