<section data-ng-controller="ExercisesController" data-ng-init="findOne()">
    <div class="jumbotron">
        <form class="form-horizontal" data-ng-submit="update()">
            <fieldset>
                <legend>Create an exercise</legend>
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label for="inputName" class="col-md-2 control-label">Name</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="inputName" placeholder="Name" data-ng-model="exercise.name" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputType" class="col-md-2 control-label">Type</label>
                            <div class="col-md-10">
                                <span class="radio">
                                    <label>
                                        <input type="radio" name="type" id="optCardio" value="Cardio" data-ng-model="exercise.type" />
                                        Cardio
                                    </label>
                                </span>
                                <span class="radio">
                                    <label>
                                        <input type="radio" name="type" id="optStrength" value="Strength" data-ng-model="exercise.type" />
                                        Strength
                                    </label>
                                </span>
                                <span class="radio">
                                    <label>
                                        <input type="radio" name="type" id="optStretching" value="Stretching" data-ng-model="exercise.type" />
                                        Stretching
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputDifficulty" class="col-md-2 control-label">Difficulty</label>
                            <div class="col-md-10">
                                <span class="radio">
                                    <label>
                                        <input type="radio" name="difficulty" id="optEasy" value="Easy" data-ng-model="exercise.difficulty" />
                                        Easy
                                    </label>
                                </span>
                                <span class="radio">
                                    <label>
                                        <input type="radio" name="difficulty" id="optMedium" value="Medium" data-ng-model="exercise.difficulty" />
                                        Medium
                                    </label>
                                </span>
                                <span class="radio">
                                    <label>
                                        <input type="radio" name="difficulty" id="optHard" value="Hard" data-ng-model="exercise.difficulty" />
                                        Hard
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputMuscleGr" class="col-md-2 control-label">Muscle groups</label>
                            <div class="col-md-10">
                                <select multiple="" class="form-control" data-ng-model="exercise.muscleGroup">
                                    <option>Shoulders</option>
                                    <option>Back</option>
                                    <option>Chest</option>
                                    <option>Core</option>
                                    <option>Arms</option>
                                    <option>Legs</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEquipment" class="col-md-2 control-label">Equipment</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="inputEquipment" placeholder="Equipment" data-ng-model="exercise.equipment" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPic" class="col-md-2 control-label">Picture URL</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="inputPic" placeholder="Public picture URL" data-ng-model="exercise.picture" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputYT" class="col-md-2 control-label">YouTube URL</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="inputYT" placeholder="YouTube URL" data-ng-model="exercise.youTube" />
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Update" class="btn btn-default">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="row">
                            <div class="exercise-picture">
                                <img ng-src="{{exercise.picture}}" src="" class="responsive-image" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="youtube-video" id="player">
                            </div>
                        </div>
                    </div>
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</section>