<section data-ng-controller="WorkoutsController">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 jumbotron text-center">
                <form class="form-horizontal" data-ng-submit="create()">
                    <input type="text" class="form-control" placeholder="Please insert name for the workout!" data-ng-model="workoutName"/>
                    <h1>{{currStorageEx.name}}</h1>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <img ng-src="{{currStorageEx.picture}}" class="responsive-image" />
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <p class="text-center">
                        Please choose: <br />
                        <label>
                            <input type="radio" name="type" id="optRepetitions" value="Repetitions" data-ng-model="type" />
                            Repetitions
                        </label>
                        <label>
                            <input type="radio" name="type" id="optDuration" value="Duration" data-ng-model="type" data-ng-click="showTimerSelect();"/>
                            Duration
                        </label>
                        <div class="input-group" data-ng-show="durationSelected">
                            <input type="text" value="{{exerciseTime}}" class="form-control" disabled />
                            <span class="input-group-btn">
                                <a class="btn btn-warning" data-ng-click="incrementTime();">+</a>
                                <a class="btn btn-warning" data-ng-click="decrementTime();">-</a>
                            </span>
                        </div>
                    </p>
                    <div class="form-group text-center">
                        <input type="submit" value="Next" class="btn btn-default">
                    </div>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>