<section data-ng-controller="WorkoutsController" data-ng-init="findOne()">
    <div class="jumbotron container" data-ng-hide="endWorkout">
        <h1 data-ng-bind="workout.name" class="text-center"></h1>
        <div class="row">
            <div class="col-md-7 text-center">
                <p data-ng-hide="start">Press the strat button to begin your workout. Make sure you have enough room and time for a quality experience. For exercises of type repetitions you need to manually click on the screen to proceed when ready. <strong>Don't forget to have fun!</strong></p>
                <div data-ng-show="start">
                    <h3 class="text-info">Part of workout: {{workoutPart}}</h3>
                    <div id="timer">
                        {{time}}
                    </div>
                    <div id="continueWorkout" data-ng-show="continueWorkoutBtn">
                        <a class="btn btn-info btn-lg" data-ng-click="continueWorkout(); continueWorkoutBtn = false;">Continue with next exercise</a>
                    </div>
                </div>
                <a class="btn btn-success btn-lg" data-ng-click="start = !start; execute();" data-ng-hide="start">Start</a>
            </div>
            <div class="col-md-5">
                <p>Current exercise: <strong data-ng-bind="currExercise.name"></strong><br />
                   Type of exercise: <strong data-ng-bind="currExercise.type"></strong><br />
                   <img ng-src="{{currExercise.picture}}" class="responsive-image" />
                </p>
            </div>
        </div>
    </div>
    <div class="container jumbotron text-center" data-ng-show="endWorkout">
        <h1>Great job!</h1>
        <p>You have finished your workout. You can now choose another workout from the <a href="/#!/workouts">workouts page</a>, or you can call it a day and come back tomorrow.</p>
    </div>
</section>