<section data-ng-controller="WorkoutsController" data-ng-init="findOne()">
    <div class="jumbotron container">
        <div class="text-center">
            <h1 data-ng-bind="workout.name"></h1>
            <a class="btn btn-primary" href="/#!/workouts/{{workout._id}}/execute">
                <i class="glyphicon glyphicon-play"></i>
            </a>
            <a class="btn btn-primary" data-ng-click="remove();">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
        
        <p>This workout consists of: 
            <ol>
                <li ng-repeat="exercise in workout.exercises">
                    <h3>{{exercise.name}}</h3>
                </li>
            </ol>
        </p>
    </div>
</section>