<section data-ng-controller="WorkoutsController" data-ng-init="findOne()">
    <div class="jumbotron container">
        <h1 data-ng-bind="workout.name" class="text-center"></h1>
        <div class="row">
            <div class="col-md-6">
                <p>First Exercise: {{workout.exercises[0].name}}</p>
            </div>
            <div class="col-md-6">
                <button data-ng-click="remove();">Delete</button>
                <a data-ng-href="#!/workouts/{{workout._id}}/execute">Execute workout</a>
            </div>
        </div>
    </div>
</section>